
body{
    font-family: Raleway;
    font-weight: 400;
    color: #1D1F22;
    background: #ffffff;
    margin: 0;
    position: relative;
    height: 100%;
}
a{
    text-decoration: none;
    display: block;
    color: #1D1F22;
}
a:visited{
    color: #1D1F22;
}
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
li{
    list-style-type: none;
}