.grey-hl{
    height: 1px;
    width: 100%;
    background: grey;
}
.cart-item{
    margin-bottom: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.cart-item-img{
    width: 141px;
    height: 185px;
    object-fit: scale-down;
}
.cart-item .product-price{
    margin-top: 12px;
}
.cart-item .attributes-container{
    display: flex;
    margin-top: 10px;
}
.cart-item  .attribute-block{
    margin-right: 20px;
}
.cart-item .attribute-name{
    font-size: 14px;
}
.cart-item .attribute-value{
    margin-left: 2px;
    margin-right: 2px;
}
.cart-item .attribute-value:hover{
    transform: scale(1.1);
}
.cart-item .attribute-value.active:hover{
    transform: scale(1);
}
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.amount-controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.amount{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
}
.styled-btn{
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
}
.amount-controller-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid #1D1F22;
    font-size: 50px;
    font-weight: 200;
    cursor: pointer;
}
.total-amount{
    margin-top: 10px;
}
.total-amount{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}